* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 16px;
  background: #dcf1ff;
}

nav ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}